In [ ]:
# EnvGlobel
# Authors: Jean Pico, Yhary Arias, Jesús Angel, Andrés Quintero, Juan Peñaranda, Freyman Balaguera

In [5]:
from math import pi, sqrt, sin, cos, atan2
import os
import pandas as pd
import numpy as np

In [132]:

#Set of air-quality stations in NY
list_stations = [{'id':61, 'station_name':'Fresh Kills West', 'latitude':40.580254, 'longitude':-74.198295},
{'id':80, 'station_name':'Port Richmond', 'latitude':40.63306, 'longitude':-74.137156},
{'id':10, 'station_name':'PS 314', 'latitude':40.64182, 'longitude':-74.01871},
{'id':60, 'station_name':'Division Street', 'latitude':40.71445, 'longitude':-73.995206},
{'id':75, 'station_name':'PS 19', 'latitude':40.730043, 'longitude':-73.98445},
{'id':6, 'station_name':'PS 274', 'latitude':40.69454, 'longitude':-73.92769},
{'id':13, 'station_name':'Maspeth', 'latitude':40.72698, 'longitude':-73.89312},
{'id':62, 'station_name':'Queens College', 'latitude':40.736251, 'longitude':-73.821655},
{'id':64, 'station_name':'Queens Near Road', 'latitude':40.739264, 'longitude':-73.817694},
{'id':53, 'station_name':'Eisenhower Park', 'latitude':40.743156, 'longitude':-73.585513},
{'id':46, 'station_name':'Babylon', 'latitude':40.74523, 'longitude':-73.41921},
{'id':36, 'station_name':'Suffolk County', 'latitude':40.828022, 'longitude':-73.057548},
{'id':143, 'station_name':'Flax Pond', 'latitude':40.96095, 'longitude':-73.13899},
{'id':29, 'station_name':'Riverhead', 'latitude':40.96074, 'longitude':-72.712338},
{'id':73, 'station_name':'CCNY', 'latitude':40.819732, 'longitude':-73.948239},
{'id':66, 'station_name':'Morrisania', 'latitude':40.83078, 'longitude':-73.920059},
{'id':24, 'station_name':'IS 52', 'latitude':40.816178, 'longitude':-73.902002},
{'id':8, 'station_name':'IS 74', 'latitude':40.815517, 'longitude':-73.885552},
{'id':57, 'station_name':'NYBG', 'latitude':40.867985, 'longitude':-73.87808},
{'id':34, 'station_name':'White Plains', 'latitude':41.051896, 'longitude':-73.763648},
{'id':33, 'station_name':'Mt. Ninham', 'latitude':41.455895, 'longitude':-73.70974},
{'id':26, 'station_name':'Valley Central', 'latitude':41.523754, 'longitude':-74.215337},
{'id':25, 'station_name':'Millbrook', 'latitude':41.785533, 'longitude':-73.741326},
{'id':5, 'station_name':'Loudonville', 'latitude':42.68075, 'longitude':-73.75733},
{'id':1, 'station_name':'Albany County HD', 'latitude':42.642253, 'longitude':-73.754576},
{'id':35, 'station_name':'Stillwater', 'latitude':43.011906, 'longitude':-73.6491},
{'id':50, 'station_name':'Piseco Lake', 'latitude':43.449592, 'longitude':-74.516258},
{'id':40, 'station_name':'Whiteface Summit', 'latitude':44.36608, 'longitude':-73.90312},
{'id':39, 'station_name':'Whiteface Base', 'latitude':44.393136, 'longitude':-73.858953},
{'id':30, 'station_name':'Perch River', 'latitude':44.087461, 'longitude':-75.97319},
{'id':44, 'station_name':'East Syracuse', 'latitude':43.052351, 'longitude':-76.059185},
{'id':3, 'station_name':'Fulton', 'latitude':43.28428, 'longitude':-76.46318},
{'id':31, 'station_name':'Williamson', 'latitude':43.23085, 'longitude':-77.171381},
{'id':106, 'station_name':'Rochester Near Rd', 'latitude':43.145021, 'longitude':-77.557608},
{'id':45, 'station_name':'Pinnacle', 'latitude':42.091154, 'longitude':-77.209883},
{'id':52, 'station_name':'Middleport', 'latitude':43.22384, 'longitude':-78.478882},
{'id':79, 'station_name':'Tonawanda II', 'latitude':42.998136, 'longitude':-78.899312},
{'id':21, 'station_name':'Amherst', 'latitude':42.993275, 'longitude':-78.771475},
{'id':134, 'station_name':'Buffalo Near Road', 'latitude':42.92111, 'longitude':-78.76611},
{'id':19, 'station_name':'Buffalo', 'latitude':42.876951, 'longitude':-78.809743},
{'id':18, 'station_name':'Dunkirk', 'latitude':42.499697, 'longitude':-79.318805}]


def nearest_station(point):
    list_stations_d_km = []    
    for station in list_stations:
        d = distance_between(point, station)
        list_stations_d_km.append({"id": station['id'], "station_name": station['station_name'], "distance": d['km'] })
    station = minimum_distance(list_stations_d_km)
    return station


def minimum_distance(list_stations_d_km):
    min_d = list_stations_d_km[0]['distance']
    min_id = list_stations_d_km[0]['id']
    min_station_name = list_stations_d_km[0]['station_name']
    for d in list_stations_d_km:
        if d['distance'] < min_d:
            min_d = d['distance']
            min_id = d['id']
            min_station_name = d['station_name']
    return {"id": min_id, "station_name": min_station_name, "distance": min_d}
        
    
def distance_between(pos1, pos2):
    lat1 = float(pos1['latitude'])
    long1 = float(pos1['longitude'])
    lat2 = float(pos2['latitude']) 
    long2 = float(pos2['longitude'])

    degree_to_rad = float(pi / 180.0)

    d_lat = (lat2 - lat1) * degree_to_rad
    d_long = (long2 - long1) * degree_to_rad

    a = pow(sin(d_lat / 2), 2) + cos(lat1 * degree_to_rad) * cos(lat2 * degree_to_rad) * pow(sin(d_long / 2), 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    km = 6367 * c
    mi = 3956 * c

    return {"km":km, "miles":mi}

In [133]:
#Calculates and assign the nearest station to a street number.

df = pd.read_csv("../dataset-full-trafico.csv") 
list_nearest_stations = []
for index, dr in df.iterrows():
    station = nearest_station({"latitude" : dr['latitud'], "longitude": dr['longitud']})
    list_nearest_stations.append(station)

list_nearest_stations_id = []
list_nearest_stations_name = []
list_nearest_stations_distance = []

for nearest_station in list_nearest_stations:
    list_nearest_stations_id.append(nearest_station['id'])
    list_nearest_stations_name.append(nearest_station['station_name'])
    list_nearest_stations_distance.append(nearest_station['distance'])
    
df['nearest_station'] = list_nearest_stations
df['nearest_station_id'] = list_nearest_stations_id
df['nearest_station_name'] = list_nearest_stations_name
df['nearest_station_distance'] = list_nearest_stations_distance

df.drop(columns=['latlong', 'nearest_station'], inplace = True)
df.head(5)

df.to_csv('../dataset-nearest-station.csv', index=False)

In [134]:
list(df.columns) 
drop_colummns = ['latitud',
 'longitud',
 'Name',
 'description',
 'ID',
 'Segment ID',
 'Roadway Name',
 'From',
 'To',
 'Direction',
 'Direccion',                
 'Ciudad',
 'Pais',
 'result_num',
 'osm_id',
 'display_name',
 'category',
 'type']

df.drop(columns=drop_colummns, inplace = True)

df.to_csv('../dataset-nearest-station-clean.csv', index=False)

In [150]:
#Corrects the types for integer columns. It is necessary to apply correct math.
df_minimized = pd.read_csv("../dataset-nearest-station-clean.csv") 
time_columns = ['12:00-1:00 AM',
 '1:00-2:00AM',
 '2:00-3:00AM',
 '3:00-4:00AM',
 '4:00-5:00AM',
 '5:00-6:00AM',
 '6:00-7:00AM',
 '7:00-8:00AM',
 '8:00-9:00AM',
 '9:00-10:00AM',
 '10:00-11:00AM',
 '11:00-12:00PM',
 '12:00-1:00PM',
 '1:00-2:00PM',
 '2:00-3:00PM',
 '3:00-4:00PM',
 '4:00-5:00PM',
 '5:00-6:00PM',
 '6:00-7:00PM',
 '7:00-8:00PM',
 '8:00-9:00PM',
 '9:00-10:00PM',
 '10:00-11:00PM',
 '11:00-12:00AM']

df_minimized[time_columns] = df_minimized[time_columns].applymap(lambda x: str(x.replace(',','')))
df_minimized[time_columns] = df_minimized[time_columns].astype("int")

print(df_minimized.dtypes)

Unnamed: 0                    int64
Date                         object
12:00-1:00 AM                 int32
1:00-2:00AM                   int32
2:00-3:00AM                   int32
3:00-4:00AM                   int32
4:00-5:00AM                   int32
5:00-6:00AM                   int32
6:00-7:00AM                   int32
7:00-8:00AM                   int32
8:00-9:00AM                   int32
9:00-10:00AM                  int32
10:00-11:00AM                 int32
11:00-12:00PM                 int32
12:00-1:00PM                  int32
1:00-2:00PM                   int32
2:00-3:00PM                   int32
3:00-4:00PM                   int32
4:00-5:00PM                   int32
5:00-6:00PM                   int32
6:00-7:00PM                   int32
7:00-8:00PM                   int32
8:00-9:00PM                   int32
9:00-10:00PM                  int32
10:00-11:00PM                 int32
11:00-12:00AM                 int32
nearest_station_id            int64
nearest_station_name         object
nearest_station_distance    float64
dtype: object

In [171]:
#Groups and sums the values for the same stations

df_grouped=pd.pivot_table(df_minimized, index=['nearest_station_id','nearest_station_name', 'Date'],values=['12:00-1:00 AM',
 '1:00-2:00AM',
 '2:00-3:00AM',
 '3:00-4:00AM',
 '4:00-5:00AM',
 '5:00-6:00AM',
 '6:00-7:00AM',
 '7:00-8:00AM',
 '8:00-9:00AM',
 '9:00-10:00AM',
 '10:00-11:00AM',
 '11:00-12:00PM',
 '12:00-1:00PM',
 '1:00-2:00PM',
 '2:00-3:00PM',
 '3:00-4:00PM',
 '4:00-5:00PM',
 '5:00-6:00PM',
 '6:00-7:00PM',
 '7:00-8:00PM',
 '8:00-9:00PM',
 '9:00-10:00PM',
 '10:00-11:00PM',
 '11:00-12:00AM'],aggfunc=np.sum)

df_grouped = df_grouped.reset_index()
df_grouped.to_csv('../dataset-nearest-station-grouped.csv')

In [168]:
df_grouped

,nearest_station_id,nearest_station_name,Date,10:00-11:00AM,10:00-11:00PM,11:00-12:00AM,11:00-12:00PM,12:00-1:00 AM,12:00-1:00PM,1:00-2:00AM,...,5:00-6:00AM,5:00-6:00PM,6:00-7:00AM,6:00-7:00PM,7:00-8:00AM,7:00-8:00PM,8:00-9:00AM,8:00-9:00PM,9:00-10:00AM,9:00-10:00PM
0,1,Albany County HD,04/07/2018,935,1277,1075,792,830,856,684,...,320,1154,308,1067,665,1158,775,1033,878,1122
1,1,Albany County HD,04/08/2018,574,900,751,739,896,735,734,...,329,1078,343,995,452,1089,525,1164,547,987
2,1,Albany County HD,04/09/2018,1216,1180,1090,1020,573,1075,385,...,602,1139,989,1106,1212,1184,1171,1111,1152,1129
3,1,Albany County HD,04/10/2018,1117,1287,1072,1166,823,1074,502,...,578,1150,1072,1120,1306,1316,1242,1277,1117,1201
4,1,Albany County HD,04/11/2018,843,1136,1086,813,838,914,436,...,589,1346,1032,1506,1315,1517,1199,1323,991,1285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,106,Rochester Near Rd,04/11/2018,179,124,87,166,48,187,24,...,36,353,134,295,421,305,431,224,235,163
714,106,Rochester Near Rd,04/12/2018,191,136,70,198,37,300,24,...,40,337,127,329,356,255,341,209,189,218
715,106,Rochester Near Rd,04/13/2018,168,200,109,208,52,211,25,...,41,390,121,365,355,304,354,270,171,232
716,106,Rochester Near Rd,04/14/2018,272,161,140,277,85,339,65,...,29,319,64,353,139,270,179,215,185,184
717,106,Rochester Near Rd,04/15/2018,184,90,68,207,108,185,77,...,17,217,26,204,53,234,107,168,137,128

In [191]:
#Pivot time related columns 
df_final = df_grouped.melt(id_vars=["nearest_station_id", "nearest_station_name", "Date"], 
        var_name="Time", 
        value_name="Vehiculos")

df_final.to_csv('../dataset-nearest-station-final-trafico.csv', index=False)

In [199]:
df_final

,nearest_station_id,nearest_station_name,Date,Time,Vehiculos,Time_single,Datetime
0,1,Albany County HD,04/07/2018,10:00-11:00AM,935,11:00:00,2018-04-07 11:00:00
1,1,Albany County HD,04/08/2018,10:00-11:00AM,574,11:00:00,2018-04-08 11:00:00
2,1,Albany County HD,04/09/2018,10:00-11:00AM,1216,11:00:00,2018-04-09 11:00:00
3,1,Albany County HD,04/10/2018,10:00-11:00AM,1117,11:00:00,2018-04-10 11:00:00
4,1,Albany County HD,04/11/2018,10:00-11:00AM,843,11:00:00,2018-04-11 11:00:00
...,...,...,...,...,...,...,...
17227,106,Rochester Near Rd,04/11/2018,9:00-10:00PM,163,22:00:00,2018-04-11 22:00:00
17228,106,Rochester Near Rd,04/12/2018,9:00-10:00PM,218,22:00:00,2018-04-12 22:00:00
17229,106,Rochester Near Rd,04/13/2018,9:00-10:00PM,232,22:00:00,2018-04-13 22:00:00
17230,106,Rochester Near Rd,04/14/2018,9:00-10:00PM,184,22:00:00,2018-04-14 22:00:00
17231,106,Rochester Near Rd,04/15/2018,9:00-10:00PM,128,22:00:00,2018-04-15 22:00:00

In [193]:
#Deletes time in range, and replace it by a single time stamp.
df_final[['Time_single']] = df_final[['Time']].applymap(lambda x: x[x.find("-") + 1: len(x) + 1])

In [195]:
#Converts time string to datetime type.
df_final['Time_single'] = pd.to_datetime(df_final['Time_single']).dt.strftime('%H:%M:%S')

In [200]:
#Creates a new column with DateTime information and saves the formated CSV
df_final['Datetime'] = pd.to_datetime(df_final['Date'].astype(str) + ' ' + df_final['Time_single'].astype(str))
df_final.to_csv('../dataset-nearest-station-final-trafico-formated.csv', index=False)